<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Resource="Common.Menu.Home" Controller="Home" Action="Index" IconClass="fa-home" InfoFlag="none">
    <siteMapNode SystemName="Dashboard" Resource="Plugin.Dashboard.Menu.Dashboard" IconClass="fa-desktop">
      <siteMapNode SystemName="DashboardRunning" ModuleId="PL3050" Resource="Plugin.Dashboard.Menu.DashboardRunning" Url="/Dashboard/Dashboard/" IconClass="fa-desktop" />
      <siteMapNode SystemName="DashboardMaintenance" ModuleId="PL3050" Resource="Plugin.Dashboard.Menu.DashboardMaintenance" Url="/Dashboard/DashboardArea/" IconClass="fa-dashboard" />
    </siteMapNode>
    <siteMapNode SystemName="Mes" Resource="Plugin.Mes.Menu.Mes" IconClass="fa-check-square-o">
      <siteMapNode SystemName="MesAction" ModuleId="PL3000" Resource="Plugin.Mes.Menu.MesAction" Url="/Mes/Action/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="MesBatch" ModuleId="PL3005" Resource="Plugin.Mes.Menu.MesBatch" Url="/Mes/MesBatch/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="MesFormula" ModuleId="PL3010" Resource="Plugin.Mes.Menu.MesFormula" Url="/Mes/MesFormula/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="MesCampaign" ModuleId="PL3015" Resource="Plugin.Mes.Menu.MesCampaign" Url="/Mes/MesCampaign/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="MesAuxiliary" ModuleId="PL3020" Resource="Plugin.MesAuxiliary.Menu.MesAuxiliary" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="MesEventType" ModuleId="PL3020" Resource="Plugin.MesAuxiliary.Menu.MesEventType" Url="/MesAuxiliary/MesEventType/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="MesEvent" ModuleId="PL3020" Resource="Plugin.MesAuxiliary.Menu.MesEvent" Url="/MesAuxiliary/MesEvent/" IconClass="fa-dot-circle-o" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Equipment" ModuleId="PL6925" Resource="Plugin.Equipment.Menu.Equipment" IconClass="fa-cogs">
      <siteMapNode SystemName="Equipment Management" ModuleId="PL6905" Resource="Plugin.Equipment.Menu.EquipmentManagement" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="EquipmentType" ModuleId="PL6905" Resource="Plugin.Equipment.Menu.EquipmentType" Url="/Equipment/EquipmentType/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="EquipmentPart" ModuleId="PL6910" Resource="Plugin.Equipment.Menu.EquipmentPart" Url="/Equipment/EquipmentPart/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="EquipmentFormula" ModuleId="PL6915" Resource="Plugin.Equipment.Menu.EquipmentFormula" Url="/Equipment/EquipmentFormula/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="EquipmentBatch" ModuleId="PL6920" Resource="Plugin.Equipment.Menu.EquipmentBatch" Url="/Equipment/EquipmentBatch/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="EquipmentHistory" ModuleId="PL6935" Resource="Plugin.Equipment.Menu.EquipmentHistory" Url="/Equipment/EquipmentHistory/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="EquipmentPhase" ModuleId="PL6945" Resource="Plugin.Equipment.Menu.EquipmentPhase" Url="/Equipment/EquipmentPhase/" IconClass="fa-dot-circle-o" />
      </siteMapNode>
      <siteMapNode SystemName="EquipmentCleaning" ModuleId="PL6930" Resource="Plugin.Equipment.Menu.EquipmentCleaning" Url="/Equipment/EquipmentCleaning/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="EquipmentIssuing" ModuleId="PL6925" Resource="Plugin.Equipment.Menu.EquipmentIssuing" Url="/Equipment/EquipmentIssuing/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="EquipmentChecking" ModuleId="PL6955" Resource="Plugin.Equipment.Menu.EquipmentChecking" Url="/Equipment/EquipmentChecking/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="EquipmentWeighing" ModuleId="PL6950" Resource="Plugin.Equipment.Menu.EquipmentWeighing" Url="/Equipment/EquipmentWeighing/" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="LineClearance" ModuleId="PL6975" Resource="Plugin.LineClearance.Menu.LineClearance" IconClass="fa-check-square-o">
      <siteMapNode SystemName="LineClearanceManagement" ModuleId="PL6971" Resource="Plugin.LineClearance.Menu.LineClearanceManagement" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="CheckLocation" ModuleId="PL6971" Resource="Plugin.LineClearance.Menu.CheckLocation" Url="/LineClearance/CheckLocation/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="CheckLocationFormula" ModuleId="PL6972" Resource="Plugin.LineClearance.Menu.CheckLocationFormula" Url="/LineClearance/CheckLocationFormula/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="CheckLocationBatch" ModuleId="PL6973" Resource="Plugin.LineClearance.Menu.CheckLocationBatch" Url="/LineClearance/CheckLocationBatch/" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="LineClearanceHistory" ModuleId="PL6974" Resource="Plugin.LineClearance.Menu.LineClearanceHistory" Url="/LineClearance/LineClearanceHistory/" IconClass="fa-dot-circle-o" />
      </siteMapNode>
      <siteMapNode SystemName="LocationChecking" ModuleId="PL6975" Resource="Plugin.LineClearance.Menu.LocationChecking" Url="/LineClearance/LocationChecking/" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Batch" ModuleId="PL1030" Resource="Plugin.Batch.Menu.Batch" Url="/Batch/Batch/" IconClass="fa-check-square-o" />
    <siteMapNode SystemName="BatchTest" ModuleId="PL1035" Resource="Plugin.BatchTest.Menu.BatchTest" IconClass="fa-check-square-o">
      <siteMapNode SystemName="BatchTestResults" ModuleId="PL1035" Resource="Plugin.BatchTest.Menu.TestResults" Url="/BatchTest/BatchTest/" IconClass="fa-check-square-o" />
      <siteMapNode SystemName="BrukerNirParams" ModuleId="PL1036" Resource="Plugin.BatchTest.BrukerNirParams.Menu.BrukerNirParams" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="BrukerNirFormulaParams" ModuleId="PL1036" Resource="Plugin.BatchTest.BrukerNirParams.Menu.FormulaParams" Url="/BatchTest/BrukerNirFormulaParams/" IconClass="fa-cogs" />
        <siteMapNode SystemName="BrukerNirMaterialParams" ModuleId="PL1036" Resource="Plugin.BatchTest.BrukerNirParams.Menu.MaterialParams" Url="/BatchTest/BrukerNirMaterialParams/" IconClass="fa-cogs" />
      </siteMapNode>
	  <siteMapNode SystemName="ManualDisintegrationTest" ModuleId="PL1037" Resource="Plugin.BatchTest.ManualDisintegrationTest.Menu.ManualDisintegrationTest" Url="/BatchTest/ManualDisintegrationTest/" IconClass="fa-check-square-o" />
	  <siteMapNode SystemName="ManualInProcessCheck" ModuleId="PL1038" Resource="Plugin.BatchTest.ManualInProcessCheck.Menu.ManualInProcessCheck" Url="/BatchTest/ManualInProcessCheck?CustomPropertiesFormula=IPCNonInstrumented" IconClass="fa-check-square-o" />
    </siteMapNode>
    <siteMapNode SystemName="Email" Resource="Plugin.Email.Menu.Email" IconClass="fa-envelope-o">
      <siteMapNode SystemName="QueuedEmail" ModuleId="PL0200" Resource="Plugin.Email.Menu.EmailLog" Url="/Email/QueuedEmail/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="EmailAccount" ModuleId="PL0200" Resource="Plugin.Email.Menu.EmailAccount" Url="/Email/EmailAccount/" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="MessageTemplate" ModuleId="PL0200" Resource="Plugin.Email.Menu.MessageTemplate" Url="/Email/MessageTemplate/" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Task" ModuleId="PL8000" Resource="Plugin.Task.Menu.Task" Url="/Task/" IconClass="fa-clock-o" />
    <siteMapNode SystemName="Test" ModuleId="0000" Resource="Menu.Test" Url="/Test/" IconClass="fa-check-square-o" />
    <siteMapNode SystemName="Supplier" ModuleId="PL1000" Resource="Plugin.Supplier.Menu.Supplier" Url="/Supplier/" IconClass="fa-truck" />
    <siteMapNode SystemName="Material" ModuleId="MP2500" Resource="Plugin.Material.Menu.Material" Url="/Material/" IconClass="fa-flask" />
    <siteMapNode SystemName="LotNo" Resource="Plugin.LotNo.Menu.LotNo" IconClass="fa-flask">
      <siteMapNode SystemName="LotNo" ModuleId="MP3000" Resource="Plugin.LotNo.Menu.LotNo" Url="/LotNo/" IconClass="fa-flask" />
      <siteMapNode SystemName="LotNoWeighing" ModuleId="MP3000" Resource="Plugin.LotNo.Menu.Weighing" Url="/LotNo/LotNoWeighing" IconClass="fa-balance-scale" />
    </siteMapNode>
    <siteMapNode SystemName="Locmgt" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.Location" IconClass="fa-building-o">
      <siteMapNode SystemName="LocationManagement" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.LocationManagement" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Warehouse" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.Warehouse" Url="/Locmgt/Warehouse/" IconClass="fa-building-o" />
        <siteMapNode SystemName="Area" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.Area" Url="/Locmgt/Area/" IconClass="fa-archive" />
        <siteMapNode SystemName="Location" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.Location" Url="/Locmgt/Location/" IconClass="fa-th-large" />
        <siteMapNode SystemName="LotNoLocation" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.LotNoLocation" Url="/Locmgt/LotNoLocation/" IconClass="fa-th-large" />
        <siteMapNode SystemName="LotNoHistory" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.LotNoHistory" Url="/Locmgt/LotNoHistory/" IconClass="fa-calendar-check-o" />
      </siteMapNode>
      <siteMapNode SystemName="LocationMove" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.LocationMove" Url="/Locmgt/LocationMove" IconClass="fa-arrows" />
      <siteMapNode SystemName="LotNoMove" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.LotNoMove" Url="/Locmgt/LotNoMove" IconClass="fa-arrows" />
      <siteMapNode SystemName="LocationMerge" ModuleId="PL2000" Resource="Plugin.Locmgt.Menu.LocationMerge" Url="/Locmgt/LocationMerge" IconClass="fa-arrows" />
    </siteMapNode>
    <siteMapNode SystemName="Exchange" Resource="Plugin.Exchange.Menu.Exchange" IconClass="fa-binoculars">
      <siteMapNode SystemName="ExchangeQuery" ModuleId="PL4005" Resource="Plugin.Exchange.Menu.Query" Url="/Exchange/ExchangeQuery/" IconClass="fa-binoculars" />
      <siteMapNode SystemName="ExchangeJobStatus" ModuleId="PL4005" Resource="Plugin.Exchange.Menu.JobStatus" Url="/Exchange/ExchangeJobStatus/" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Hardware" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.Hardware" IconClass="fa-wrench">
      <siteMapNode SystemName="Simulator" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.Simulator" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Simulator" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.SimulatorSender" Url="/Simulator/Sender" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="Simulator" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.SimulatorReceiver" Url="/Simulator/Receiver" IconClass="fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="BarcodeScanner" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.BarcodeScanner" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Scanner Test" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.ScannerTest" Url="/BarcodeScanner/Test" IconClass="fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Hardware Status" ModuleId="PL3500" Resource="Plugin.Hardware.Menu.HardwareStatus" Url="/Hardware/HardwareStatus" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ScaleTest" ModuleId="PL3500" Resource="Plugin.Common.Menu.ScaleTest" Url="/Common/ScaleTest" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Dispensing" ModuleId="PL6000" Resource="Plugin.Dispensing.Menu.Dispensing" Url="/Dispensing/Dispensing" IconClass="fa-check-square-o" />
    <siteMapNode SystemName="Manufacturing" ModuleId="PL6700" Resource="Plugin.Mfg.Menu.Manufacturing" IconClass="fa-barcode">
      <siteMapNode SystemName="Manufacturing" ModuleId="PL6700" Resource="Plugin.Mfg.Menu.Manufacturing" Url="/Mfg/Mfg" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Pkg" ModuleId="PL6750" Resource="Plugin.Pkg.Menu.Packaging" Url="/Pkg/" IconClass="fa-check-square-o" />
  </siteMapNode>
</siteMap>

